/*
|---------------------------------------------------
| Variables
|---------------------------------------------------
*/

:root {
  --background-primary: #1C2127;
  --box-shadow-primary: 0 1px 4px 0px rgba(0,0,0,0.3);
  --brand-primary: #2f3741;
}

/*
|---------------------------------------------------
| Scroll Bars
|---------------------------------------------------
*/

::-webkit-scrollbar {
  width: 5px;
}
 
::-webkit-scrollbar-track {
  background: #ddd;
}
 
::-webkit-scrollbar-thumb {
  background: #666; 
}

/*
|---------------------------------------------------
| Core Styles
|---------------------------------------------------
*/

* {
  box-sizing: border-box;
}

html, body, #root{
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  color: #fff;
  height: 100vh;
  padding-top: 3.5rem;
  background: #1c2127;
  font-family: 'Source Sans Pro', sans-serif;
}
