* {
  box-sizing: border-box;
}

body {
  color: #fff;
  height: 100vh;
  display: grid;
  overflow: hidden;
  background: #1c2127;
  font-family: sans-serif;
  grid-template-areas: "nav" "main";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}
